<div ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
                    <!-- /.col-lg-12 -->
    </div>
                <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Usuários </div>
                            <div>{{users}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Localização </div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left" ng-click="submitLocation()">Adicionar</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>      
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-9 col-md-9" style="height:900px">
            <openlayers ol-center="sampa" height="700">
              <ol-marker ng-repeat="item in markers" ol-marker-properties="item"></ol-marker>
          </openlayers>
        </div>
        <div class="col-lg-3 col-md-3"  >
            <div class="panel panel-primary" ng-repeat="item in markers">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{item.name}} </div>
                            <div>{{item.lat}}</div>
                            <div>{{item.lon}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <!-- /.row -->
</div>
